<div class="main__actions">

        <div class="col-xs-4 col-sm-4">
            

            <div class="action-highlight">
            </div>

            <a href="#" class="action">
                About
            </a>
            
            <a href="#" class="action">
                Projects
            </a>
            
            <a href="#" class="action">
                Experience
            </a>
            
            <a href="#" class="action">
                Contact
            </a>
        
        </div>

</div>