<section class="content__projects content--none">
    <div class="projects__card mx-5 my-4">
        <div class="card__body p-4">

            <div class="project mb-3">
                <div class="project__thumbnail pb-3">
                    <img src="{{ "/assets/images/sacc.png" | relative_url }}"
                        alt="SACC" width="100"
                    >
                </div>
                <div class="project__name p-3">
                    Semana Acadêmica de Ciência da Computação (SACC) - 2019
                    
                    <a href="http://uffs.cc/sacc/" target="_blank" rel="noopener noreferrer" title="Site" class="mx-2">
                        <svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"> 
                            </path>
                        </svg>
                    </a>
                    <a href="https://github.com/ccuffs/sac" target="_blank" rel="noopener noreferrer" title="Repositório github">
                        <svg class="octicon octicon-mark-github v-align-middle" height="16" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                            </path>
                        </svg>
                    </a>
                </div>
                <div class="project__description">
                    Sistema gerenciador da VII semana acadêmica de Ciência da Computação,
                    suas principais funcionalidades são: controle de inscritos, 
                    cadastro de palestrantes e criação de programação.
                    <span class="badge badge-finished"> Finalizado </span>
                </div>
            </div>

            <div class="project mb-3">
                <div class="project__thumbnail">
                    <img src="{{ "/assets/images/logo_uffs.png" | relative_url }}" width="150" alt="Logo UFFS">
                </div>
                <div class="project__name py-3">
                    Gerenciador de Eventos UFFS - 2020

                    <a href="http://uffs.cc/sacc/" target="_blank" rel="noopener noreferrer" title="Site" class="mx-2">
                        <svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"> 
                            </path>
                        </svg>
                    </a>
                    <a href="https://github.com/ccuffs/event-manager-uffs" target="_blank" rel="noopener noreferrer" title="Repositório github">
                        <svg class="octicon octicon-mark-github v-align-middle" height="16" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                            </path>
                        </svg>
                    </a>
                </div>
                <div class="project__description">
                    Sistema idealizado baseando-se no SACC, seu objetivo é facilitar a criação, gerenciamento
                    e divulgação de eventos associados à UFFS. Inicialmente ele irá criar e estruturar sites
                    voltados para as semanas acadêmicas dos cursos da UFFS, futuramente para eventos em geral.
                    <span class="badge badge-ongoing"> Em andamento </span>
                </div>
            </div>

            <div class="project">
                <div class="project__thumbnail pb-2">
                    <img src="{{ "/assets/images/coronavirus.png" | relative_url }}" width="60" alt="Logo UFFS">
                </div>
                <div class="project__name p-3">
                    Aplicativo móvel Coronavírus Chapecó/SC - 2020

                    <a href="https://github.com/grintex/app-covid/blob/dev/README.md" target="_blank" rel="noopener noreferrer" title="Site" class="mx-2">
                        <svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"> 
                            </path>
                        </svg>
                    </a>
                    <a href="https://github.com/grintex/app-covid" target="_blank" rel="noopener noreferrer" title="Repositório github">
                        <svg class="octicon octicon-mark-github v-align-middle" height="16" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                            </path>
                        </svg>
                    </a>
                </div>
                <div class="project__description">
                    Aplicativo mobile de caráter informativo que objetiva trazer à população
                    chapecoense informações relevantes em relação à Covid-19, como seus sintomas,
                    grupos de risco, medidas de prevenção, onde procurar atendimento, estatísticas locais,
                    dicas, entre outras.
                    <span class="badge badge-finished"> Finalizado </span>
                </div>
            </div>

        </div>
    </div>  

</section>