<section class="projects hide">

    <div class="row">
        <div class="col-sm-6 mt-5">

            <h5>Vetec</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id est laborum.
            </p>
            <p>
                <h5>Flappy Bird Desktop</h5>
                Dignissim diam quis enim lobortis scelerisque. Id eu nisl nunc mi ipsum. Nec nam aliquam
                sem et tortor consequat id porta nibh. Habitasse platea dictumst vestibulum rhoncus est
                pellentesque. Consectetur adipiscing elit ut aliquam. Morbi tincidunt ornare massa eget
                egestas purus viverra. Elit at imperdiet dui accumsan sit. Nunc lobortis mattis aliquam
                faucibus purus. Nunc scelerisque viverra mauris in aliquam sem.
            </p>
            <p>
                <h5>Task Manager</h5>
                Ac felis donec et odio pellentesque. Nunc sed id semper risus. Pellentesque adipiscing
                commodo elit at. Tortor condimentum lacinia quis vel. Feugiat nisl pretium fusce id
                velit ut tortor pretium viverra. Sagittis orci a scelerisque purus semper eget duis at.
                Risus pretium quam vulputate dignissim suspendisse in. Mauris vitae ultricies leo integer
                malesuada nunc vel. At augue eget arcu dictum varius duis at consectetur.
            </p>

        </div>
        <div class="col-sm-6 mt-5">

            <h5>Faustop Interpreter</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id est laborum.
            </p>
            <h5>Flappy Bird Mobile</h5>
            <p>
                Dignissim diam quis enim lobortis scelerisque. Id eu nisl nunc mi ipsum. Nec nam aliquam
                sem et tortor consequat id porta nibh. Habitasse platea dictumst vestibulum rhoncus est
                pellentesque. Consectetur adipiscing elit ut aliquam. Morbi tincidunt ornare massa eget
                egestas purus viverra. Elit at imperdiet dui accumsan sit. Nunc lobortis mattis aliquam
                faucibus purus. Nunc scelerisque viverra mauris in aliquam sem.
            </p>
            <h5>Event Manager UFFS</h5>
            Ac felis donec et odio pellentesque. Nunc sed id semper risus. Pellentesque adipiscing
            commodo elit at. Tortor condimentum lacinia quis vel. Feugiat nisl pretium fusce id
            velit ut tortor pretium viverra. Sagittis orci a scelerisque purus semper eget duis at.
            Risus pretium quam vulputate dignissim suspendisse in. Mauris vitae ultricies leo integer
            malesuada nunc vel. At augue eget arcu dictum varius duis at consectetur.

        </div>
    </div>  

</section>