<section class="content__social content--none">
    <div class="social__card p-4">
        <div class="social__media">
            <a href="https://t.me/arufonsekun" target="_blank" rel="noopener noreferrer">
                <img src="{{"/assets/images/telegram.svg" | relative_url }}"
                    alt="Telegram" width="76"
                >
            </a>
        </div>
        <div class="social__media">
            <a href="https://twitter.com/jr_ramisch" target="_blank" rel="noopener noreferrer">
                <img src="{{"/assets/images/twitter.svg" | relative_url }}"
                    alt="Twitter" width="76"
                >
            </a>
        </div>
        <div class="social__media">
            <a href="https://instagram.com/jr_ramisch" target="_blank" rel="noopener noreferrer">
                <img src="{{"/assets/images/instagram.svg" | relative_url }}"
                    alt="Instagram" width="76"
                >
            </a>
        </div>
        <div class="social__media">
            <a href="https://www.linkedin.com/in/junior-vitor-ramisch-062582145/"
                target="_blank" rel="noopener noreferrer">
                <img src="{{"/assets/images/linkedin.svg" | relative_url }}"
                    alt="LinkedIn" width="76"
                >
            </a>
        </div>
        <div class="social__media">
            <a href="https://discord.com/login"
                target="_blank" rel="noopener noreferrer">
                <img src="{{"/assets/images/discord.svg" | relative_url }}"
                    alt="Discord" width="76"
                >
            </a>
        </div>
        <div class="social__media">
            <a href="https://open.spotify.com/user/21fon2iumnknv6vsvqscs56wy?si=7drQtrQwTQ2jMzfd9SThtA"
                target="_blank" rel="noopener noreferrer">
                <img src="{{"/assets/images/spotify.svg" | relative_url }}"
                    alt="Spotify" width="76"
                >
            </a>
        </div>
        <div class="social__media">
            <a href="https://github.com/arufonsekun"
                target="_blank" rel="noopener noreferrer">
                <img src="{{"/assets/images/github.svg" | relative_url }}"
                    alt="Github" width="76"
                >
            </a>
        </div>
    </div>
</section>