.main {
    
    @extend .container-fluid;
    color: $primary !important;
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
    height: 100vh;
    background-color: #000;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/images/simple-codelines.svg");

}

.highlighter {
    
    top: -15px;
    width: 0px;
    height: 0px;
    position: absolute;
    background-color: #ffffff0f;
    border: #ffffff1f 0.05px solid;

}

.hide {
    
    display: none;
    opacity: 0;

}

@keyframes fade-text {
    
    0%   {opacity: 0.2;}
    25%  {opacity: 0.4;}
    50%  {opacity: 0.6;}
    75%  {opacity: 0.8;}
    100% {opacity: 1.0 !important;}

}

.fade-text {

    display: block;
    animation-name: fade-text;
    animation-duration: 0.5s;

}