@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


body {
    margin: 0;
    color: white;
    height: 100vh;
    font-size: 20px;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/assets/images/simple-codelines.svg");
}

p {
    margin: inherit;
}

main {
    height: 100%;
}

a {
    text-decoration: none;
}

.content {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &--none {
        display: none !important;
    }
}

section[class^='content__'] {
    display: inherit;
    justify-content: inherit;
}

.card {
    &__body {
        text-align: justify;
        font-size: 1.1rem;
        padding: 2rem 4.2rem 3rem 4.2rem;
    }
}

.badge {

    font-weight: 600;
    color: white;
    font-size: 0.7rem;
    border-radius: 12px;
    @extend .p-1;
    
    &-finished {
        background-color: green;
    }

    &-ongoing {
        background-color: #ffd600;
    }
}

.right {
    float: right;
}