---
---

@import "main";

%section {

    height: 85vh;
    color:white;

}

.main {

    @extend .container-fluid;
    height: 100vh;
    background-color: #000;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/images/simple-codelines.svg");

}

.main__actions {
    
    @extend .row, .justify-content-center, .mt-5;

}

.action {
    
    @extend .p-3;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;

}

.action:hover {

    color:$white;
    text-decoration: none;
    
}

.overview {
    
    @extend %section, .container, .text-center;
    
}

.overview__avatar {
    
    width: 20%;
    border-radius: 50%;
    margin-top: 5%;
    
}

.highlighter {
    
    top: -15px;
    width: 0px;
    height: 0px;
    position: absolute;
    background-color: #ffffff0f;
    border: #ffffff1f 0.05px solid;

}

.projects {

    @extend %section, .container-fluid, .text-left;

}

.about {
    @extend %section, .container-fluid, .text-left;
}

.hide {
    
    display: none;
    opacity: 0;

}

@keyframes fade-text {
    
    0%   {opacity: 0.2;}
    25%  {opacity: 0.4;}
    50%  {opacity: 0.6;}
    75%  {opacity: 0.8;}
    100% {opacity: 1.0 !important;}

}

.fade-text {

    display: block;
    animation-name: fade-text;
    animation-duration: 0.5s;

}