<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  
  	<head>
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Hello, My name is Junior Vitor Ramisch, I'm Computer Science Undergradute from
        Federal University of Fronteira Sul, Chapecó SC and this is my porfolio page. Here You'll find some information
        related to my developed projects, experiences and academic history.">
	  	<meta name="robots" content="index,follow">
		
		<title>{{ site.title }}</title>
		
	  	<link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162510735-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-162510735-1');
        </script>

    </head>

  	<body>
	  	<main class="main">
		
			{% include overview.html %}

			{% include about.html %}
			
			{% include projects.html %}
			
			{% include actions.html %}			
			
		</main>
		{% include footer.html %}

		<script type="text/javascript" src="{{ "/assets/js/main.js" }}"></script>
	</body>

</html>
